<div class="whole">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-md custom-navbar">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand headers" href="#">My<span class="logo">Profile</span></a>
    <div class="collapse navbar-collapse justify-content-end " id="navbarTogglerDemo02">
      <ul class="navbar-nav  mt-2 mt-lg-0  ">
        <li class="nav-item ">
          <a class="nav-link" href="#"> <span class="fa fa-user" aria-hidden="true"></span> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="fa fa-file-text" aria-hidden="true"></span>  Resume </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> <span class="fa fa-paint-brush" aria-hidden="true"></span> Work</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> <span class="fa fa-at" aria-hidden="true"></span> Contact</a>
        </li>
       
      </ul>
      
    </div>
  </nav>



</div>
