<footer >
    <div class="foot">
        <div class="logo">
            <img src="assets/images/logo-white.jpg" width="120px" height="120px">
        </div>
        <div class="logoText">
            <h2 class="title">Living, learning, enjoying, & leveling up one day at a time.</h2>
        </div>
        <div class="social-icons">
            <div class="icon1">
              
                <i class="fa fa-github-alt" style="font-size:24px"></i>
                <i class="fa fa-instagram" style="font-size:24px"></i>
                <i class="fa fa-linkedin" style="font-size:24px"></i>
                
                
            </div>
            <div class="final">
                <span>Made by Jaya Punjabi &copy;</span>
            </div>
        </div>
    </div>
</footer>
