<div class="whole">


<div class="about is-primary .is-long .is-medium">
    <div class="container">
     <h1 class="title ">Hi, let's discuss some  discuss some professional skills.</h1>
     <h2 class="subtitle ">  </h2>

    </div>

</div> 

<div class=" skills">
   
 <div class="card-group">
     <div class="card first-card">
       <img class="card-img-top card-img " src="assets/images/designer.svg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Designer</h5>
         <p class="card-text">I value simple content structure, clean design patterns, and thoughtful interactions.</p>
         <p class="card-text" style="color: #7510F7;">Things I enjoy designing:</p>
         <p class="card-text" >UX, UI, Web, Mobile, Apps, Logos</p>
         <p class="card-text" style="color: #7510F7;">Design Tools:</p>
         <p class="card-text" >
           Figma<br/>
           Adobe XD<br/>
           Sketch<br/>
           Zeplin</p>
         
       </div>
     </div>
     <div class="card">
       <img class="card-img-top card-img" src="assets/images/frontend.svg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Front-end Developer</h5>
         <p class="card-text">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
         <p class="card-text" style="color: #7510F7;">Languages I speak:</p>
         <p class="card-text" >HTML, CSS, Sass, and more</p>
         <p class="card-text" style="color: #7510F7;">Dev Tools:</p>
         <p class="card-text" >
           Atom<br/>
           Bitbucket<br/>
           Bootstrap<br/>
           Codepen<br/>
           Github<br/>
           Gitlab<br/>
           Terminal<br/>
           </p>
       </div>
     </div>
   
   </div>
</div>

<section id="skills" class="section1">
    <div class="container">
      <p class="text-center rating head"> Technical Skills</p>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6">
          <div>
            <label>HTML5</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
          </div>
          <div>
            <label>CSS3</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div>
            <label>Bootstrap</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          
          <div>
            <label>Javascript</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
          </div>
          <div>
            <label>AngularJS</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div>
            <label>NodeJS</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
          <div>
            <label>Angular</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          
          <div>
            <label>MySQL</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
          </div>
          <div>
            <label>PostgreSQL</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
          </div>
          <div>
            <label>PHP</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          
          <div>
            <label>WordPress</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div>
            <label>React</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 20%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">20%</div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <section id="skills" class="section1">
    <div class="container">
      <p class="text-center rating head">Designing Tools</p>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6">
          <div>
            <label>Adobe XD</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
          </div>
          <div>
            <label>Adobe Photoshop</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div>
            <label>Canva</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          
          <div>
            <label>Adobe Illustrator</label>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
          </div>
          <div>
            
        </div>
          
        </div>
      </div>
    </div>
  </section>
  
  <section class="section2">
    <div class="container">
      <p class="text-center head" style="color: #000000;">My Recent Work/Projects</p>
      <p class="text-center project-design">Here are a few design projects I've worked on recently.
        Want to see more?
        <a href="mailto:jayapunjabi707@gmail.com" style="color: #7510F7;">Email me..</a>
      </p>
      <div class="row text-center" style="border: none !important;background-color: #f7f7f7;">
        <div class="col-sm-12 col-md-4 col-lg-4 p-5">
          <h4 class="inner-head">Corona Tracker</h4>
          <p class="py-4 project-design">A coronavirus web app to keep track of current situations.
          </p>
          <a href="#" class="project_link">https://jayapunjabi.github.io/coronaTracker/</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 p-5">
          <h4 class="inner-head">My Protfolio</h4>
          <p class="py-4 project-design">A Portfolio website to showcase something about
               yourself and your work .
          </p>
          <a href="#" class="project_link">https://jayapunjabi.github.io/myPortfolio/</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 p-5">
          <h4 class="inner-head">Tik Tok Toe</h4>
          <p class="py-4 project-design">No need waste paper to play puzzle games!
             Now you can play Tic Tac Toe on your device for free.
          </p>
          <a href="#" class="project_link">https://jayapunjabi.github.io/Tic_Tac_Toe/</a>
        </div>
      </div>
      <div class="pt-5 pb-3 text-center">
        <button class="px-4 py-2 button btn "><i class="fa fa-github pr-2"></i>See more on Github.</button>
      </div>
    </div>
  </section>
  
  
  <section class="section3">
    <div class="container">
      <h4 class="head text-center">My Experience</h4>
      
        <div style="display: flex;align-items: center;justify-content: center;">
        <div class="col-sm-12 col-md-4 col-lg-12 p-4 text-center">
            <h4 class="inner-head">SIAJ Digital Marketing</h4>
            <p class="py-4 experience"> Worked as a <span style= "color: #7510F7;"  >Graphic Designer and Web Developer.</span>As a part of my internship, I've worked on few projects there in which I have used various tools for desgining such as Adobe XD, Adobe Photoshop,etc as well as wordpress for web development. 
            </p>
            
          </div>
      
      </div>
    </div>
  </section>
  

</div>